.transition-all-colors {
	transition: color .2s ease, background-color .2s ease;
}

.transition-opacity {
	transition: opacity .2s ease;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

$spin: spin 1s linear infinite;

.FadeOnLoad {
	 animation: fadein 1s; /* IE 10+, Fx 29+ */
}


.lazyload, .lazyloading {
	opacity: 0 !important;
	transition: opacity .2s ease;
}

.lazyloaded {
	opacity: 1;
	transition: opacity .2s ease;
}